<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Example</title>
</head>
<body>
<p>There are {{len}} countries</p>
<ul>
{{#countries}}
  <li>{{.}}</li>
{{/countries}}
</ul>
</body>
</html>